:host {
  display: block;
}

paper-toolbar {
  background: var(--dark-primary-color);
}

paper-toolbar h1 {
  font-weight: 300;
}

paper-toolbar .logo {
  color: var(--default-primary-color);
  margin-left: 16px;
}

.flex {
  flex: 1;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.expenses {
  box-shadow: 0 0 6px 0 rgba(150, 150, 150, 0.9);
}

.about-button {
  opacity: 0.5;
}

.logout-button {
  font-size: 0.8em;
  color: var(--default-primary-color);
}

.offline-indicator iron-icon {
  margin: 0 16px;
}

.content {
  display: flex;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .overview {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .offline-indicator .caption {
    display: none;
  }
  @media (max-width: 500px) {
    paper-toolbar h1 {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 600px) {
  .content {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .overview {
    width: 33%;
    max-width: 300px;
  }
}
