:host {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:first-child {
  padding: 0 12px;
}

.row:last-child {
  padding: 0 12px 24px;
}

.toolbar {
  display: none;
}

.dates,
.amounts {
  display: flex;
}

.checkboxes {
  padding: 14px 0 0 14px;
}

.checkboxes .caption {
  font-weight: bold;
  display: block;
}

.checkboxes paper-checkbox {
  margin: 0 15px 0 5px;
}

paper-input,
vaadin-combo-box,
vaadin-date-picker {
  margin-right: 4px;
  margin-left: 4px;
}

.merchants {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 960px) {
  .toolbar {
    display: block;
    background: #80cbc4;
    cursor: pointer;
    color: #fff;
    padding: 10px 18px;
    font-weight: 400;
    line-height: 1.5;
  }

  .toolbar iron-icon {
    float: right;
  }

  .filters {
    max-height: 0;
    transition: max-height 500ms;
  }

  .filters.open {
    max-height: 400px;
  }

  .dates,
  .amounts {
    flex-direction: row;
  }

  .dates vaadin-date-picker,
  .amounts paper-input {
    width: 50%;
  }

  .row {
    flex-direction: column;
  }

}
