:host {
  display: block;
}

.icon-attribution {
  font-size: 70%;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

paper-button {
  color: var(--primary-text-color);
}

#dialog {
  max-width: 500px;
}
